---
common-css:
  - "/css/bootstrap.css"
  - "/css/main.css"
common-ext-js:
  - href: "https://use.fontawesome.com/releases/v5.0.12/js/all.js"
    sri: "sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:400,300,800"
common-js:
  - "/js/jquery-3.3.1.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}

  <body>
  
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  
    {% include footer-scripts.html %}
  
  </body>
</html>
